@font-face {
  font-family: Coyote;
  src: url(../font/Coyote.ttf);
}
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  font-family: Coyote, sans-serif;
  /*background: #202736;
    background: -webkit-gradient(linear, left top, left bottom, from(#181d23), color-stop(80%, #202736));
    background: linear-gradient(to bottom, #181d23 0%, #202736 80%);*/
  background-color: #224154;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#0c1723),
    color-stop(80%, #202736)
  );
  background: linear-gradient(to bottom, #0c1723 0%, #224154 80%);
  cursor: url("data:image/svg+xml,%3Csvg height='6' width='6' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' fill='%23eee' r='4'/%3E%3C/svg%3E")
      3 3,
    auto;

  button,
  a,
  a:focus,
  button:focus,
  a:active,
  button:active {
    border: 0;
    outline: none;
    text-decoration: none;
    font-family: Coyote, sans-serif;
    cursor: none;
  }
}

#main {
  padding: 0 4vw;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
  position: absolute;
  /*background: radial-gradient(rgba(13, 6, 11, 0), rgba(13, 6, 11, 1));*/
  background: radial-gradient(rgba(13, 6, 11, 0), rgba(13, 6, 11, 0.4));
  position: relative;
}

.hero_text {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  color: white;

  .name {
    font-size: 19px;
    color: #cecece;

    .and {
      color: #ff3259;
    }
  }

  .tagline {
    font-size: 55px;
  }
}

@media only screen and (max-width: 700px) {
  .hero_text {
    .name {
      font-size: 16px;
    }

    .tagline {
      font-size: 35px;
    }
  }
}

/* Button */
.buttonContainer {
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;

  .open_me {
    display: inline-block;
    font-size: 17px;
    padding: 16px 37px;
    border: none;
    font-weight: bold;
    border-radius: 50px;
    color: #fff;
    /*background: #ff3259;*/
    background: #17181d;
    width: 235px;
    z-index: 2;
  }
}

.open_me:hover {
  /*background: #ff4366;*/
  background: #17181d;
}

.enableReset {
  opacity: 1;
  pointer-events: all;
}

.particles {
  position: relative;
  max-width: 235px;
}

.particles-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 50px;
}

.particles-canvas {
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

/* Button Hover Effect */
.hover_effect {
  .btn-text {
    position: relative;
    opacity: 1;
    z-index: 5;
    transform: translateY(-0px);
    display: block;
    transition: opacity 500ms, transform 200ms ease;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: transform 450ms ease, background 500ms ease;
  }
}

.hover-glow {
  height: 95px;
  width: 150px;
  /*background: radial-gradient(
    circle closest-side,
    rgb(255, 93, 123),
    transparent
  );*/
  background: radial-gradient(
    circle closest-side,
    rgb(34, 30, 30),
    transparent
  );
  position: absolute;
  border-radius: 100%;
  z-index: 1;
  top: -56px;
  left: -75px;
  opacity: 0;
}

/* Modal */
.im_modal_wrapper {
  display: none;
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(34, 65, 84, 0.45);

  &.visible {
    display: block;
  }

  .modal {
    background: #181d23 url(../../images/envelope.svg) no-repeat right;
    width: 100%;
    max-width: 400px;
    height: 300px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.31);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.modal__body {
  text-align: center;
  position: relative;
  color: #fff;

  .modal_content {
    position: relative;
    margin-top: 104px;
  }

  .close {
    position: absolute;
    top: -98px;
    right: 7px;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    background: transparent;
    line-height: 18px;
    padding: 10px;
    text-align: center;
  }

  .email {
    color: #fff;
    display: inline-block;
    position: relative;
    padding: 4px 4px 0px 4px;

    &:before {
      border-bottom: 2px solid rgba(255, 255, 255, 0.21);
      content: "";
      width: 100%;
      top: 0;
      position: absolute;
      left: 0;
      bottom: 0;
    }

    &:after {
      border-bottom: 2px solid #dfdfdf;
      content: "";
      display: block;
      margin: 0.25em auto 0;
      transition: width 250ms ease-in-out 0s;
      width: 0;
    }

    &:hover:after {
      border-color: #ffffff;
      transition: width 100ms ease-in-out 0s;
      width: 100%;
    }
  }
}

/* background particles effect */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  canvas {
    display: block;
  }
}

.typing-text::after {
  content: "|";
  animation: blink ease 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* Circle cursor with blend mode */
.custom-cursor {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  transition: transform 350ms ease;
  transform: translate(-50%, -50%) scale(0.3);
  z-index: 1000;
}
.custom-cursor--link {
  transform: translate(-50%, -50%) scale(1);
}
